/**
 * @Descripttion:网站全局样式表文件，字体使用思源
 * @Author: zf
 * @Date: 2020-04-09 15:41:27
 * main-color: #ff941a; background-color: #f4f4f4; distance: 10px;
 */
@font-face {
  font-family: 'SourceHanSansCN-Medium';
  src: url('../font/SourceHanSansCN-Medium.woff2') format('woff2'),
    url('../font/SourceHanSansCN-Medium.woff') format('woff'),
    url('../font/SourceHanSansCN-Medium.ttf') format('truetype'),
    url('../font/SourceHanSansCN-Medium.eot') format('embedded-opentype'),
    url('../font/SourceHanSansCN-Medium.svg') format('svg');
}

/* iconfont Symbol 引用 */
.zficon-container {
  height: 40px;
  overflow: hidden;
}
.zficon {
  width: 4em;
  height: 4em;
  margin-top: -12px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.cursor-d {
  cursor: default;
}
html,
body {
  font-family: 'SourceHanSansCN-Medium' !important;
}
ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
a:hover {
  text-decoration: none;
}
.container-zf {
  width: 1200px !important;
  margin: auto;
}
.bgc {
  background-color: #ff941a;
}
.bgAux {
  background-color: #f4f4f4;
}
.color {
  color: #ff941a;
}
.fontcolor {
  color: #666;
}
.icon-rexiao:before {
  font-size: 18px;
  color: rgb(255, 2, 2);
}
.icon-xiangshang4:before {
  font-size: 20px;
  color: rgb(255, 2, 2);
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.pt10 {
  padding-top: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.cursor {
  cursor: pointer;
}
.mw {
  min-width: 1200px;
}
.ellipsisOneLine {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}
.fs14 {
  font-size: 14px;
}
.fw700 {
  font-weight: 700;
}
.navSpecialColor {
  color: rgb(0, 165, 0) !important;
}
.nav-fix-zf {
  z-index: 999999999;
  opacity: 0;
}
.nav-fix-zf.show {
  opacity: 1;
}
/*#region 五个主色*/
/* -------------------- red(#ff6062) -------------------- */
.columnEntColor {
  color: rgba(255, 96, 98);
}
.columnEntColor:hover {
  color: rgba(255, 96, 98, 0.8);
  text-decoration: none;
}
h3.columnEntColor:hover,
span.columnEntColor:hover {
  color: rgba(255, 96, 98);
}
.columnEntColor-i {
  background: url(../images/columnEntColor.png) repeat;
}
/* -------------------- orange(#ff7e00) -------------------- */
.columnStarColor {
  color: rgba(255, 126, 0);
}
.columnStarColor:hover {
  color: rgba(255, 126, 0, 0.8);
  text-decoration: none;
}
h3.columnStarColor:hover,
span.columnStarColor:hover {
  color: rgba(255, 126, 0);
}
.columnStarColor-i {
  background: url(../images/columnStarColor.png) repeat;
}
/* -------------------- green(#01c700) -------------------- */
.columnCreColor {
  color: rgba(1, 199, 0);
}
.columnCreColor:hover {
  color: rgba(1, 199, 0, 0.8);
  text-decoration: none;
}
h3.columnCreColor:hover,
span.columnCreColor:hover {
  color: rgba(1, 199, 0);
}
.columnCreColor-i {
  background: url(../images/columnCreColor.png) repeat;
}
/* -------------------- yellow(#ffba00) -------------------- */
.columnLocallyColor {
  color: rgba(255, 186, 0);
}
.columnLocallyColor:hover {
  color: rgba(255, 186, 0, 0.8);
  text-decoration: none;
}
h3.columnLocallyColor:hover,
span.columnLocallyColor:hover {
  color: rgba(255, 186, 0);
}
.columnLocallyColor-i {
  background: url(../images/columnLocallyColor.png) repeat;
}
/* -------------------- blue(#1082ff) -------------------- */
.columnNewsColor {
  color: rgba(16, 130, 255);
}
.columnNewsColor:hover {
  color: rgba(16, 130, 255, 0.8);
  text-decoration: none;
}
h3.columnNewsColor:hover,
span.columnNewsColor:hover {
  color: rgba(16, 130, 255);
}
.columnNewsColor-i {
  background: url(../images/columnNewsColor.png) repeat;
}
/*#endregion */
/* 头部 */
.header {
  min-width: 1200px;
  padding: 10px 0 6px;
  background-color: #ffe6ca;
}
.header .container-zf {
  display: flex;
  align-items: center;
}

.slogan {
  margin: 0 16px;
}

.search {
  flex: 1;
}

.search .searchMin {
  position: relative;
}

.search .search-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  font-size: 20px;
  transform: translateY(-46%);
}

.search input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  border: none;
  outline: none;
}

.search p {
  padding-left: 14px;
  margin: 10px 0 0;
  font-size: 12px;
  font-weight: 600;
  color: #ff0202;
}

.search p a {
  display: inline-block;
  padding: 0 12px;
  color: #ff941a;
}
.search p a + a {
  padding: 0 12px;
  border-left: 1px solid #ff941a;
}

.miniSlide {
  margin-left: 16px;
}

.nav-zf {
  min-width: 1200px;
  height: 40px;
  background-color: #ff941a;
}

.nav-zf .container-zf {
  display: flex;
  justify-content: center;
}

.nav-link {
  flex: 1;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
}
@media (max-width: 992px) {
  .nav-link {
    flex: 0 1 auto;
  }
}
.nav-zf .nav-link:hover {
  color: #fff;
  background-color: rgba(255, 230, 202, 0.3);
}

.nav-link.active {
  background-color: rgba(255, 230, 202, 0.7);
}
.nav-link.active:hover {
  background-color: rgba(255, 230, 202, 0.8);
}

/* 轮播 */
.banner {
  background-color: #f4f4f4;
}
.banner > .container-zf {
  display: flex;
  padding: 10px 0;
}
.rank-list {
  width: 274px;
  height: 460px;
  margin-right: 10px;
}

.rank-list .rlbox {
  height: 46px;
}

.rank-list .rltit {
  display: block;
  width: 274px;
  height: 46px;
  font-size: 20px;
  line-height: 46px;
  color: rgb(255, 255, 255);
  text-align: center;
  background: #ff941a;
}
.rank-list .content {
  height: 414px;
  padding: 12px 10px;
  background-color: #fff;
  border: 1px solid #ff941a;
  overflow: hidden;
}
.rank-list .nav-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  border: none;
}

.rank-list .nav-item {
  width: 80px;
  height: 22px;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  border: none;
}

.rank-list .nav-item .nav-link {
  padding: 0;
  /* margin: 0 2px; */
  color: #666;
  border: 1px solid #dcdcdc;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.rank-list .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #ff941a;
  border: 1px solid #dcdcdc;
}

.zf-tab-content {
  padding: 12px 0 0;
}

.zf-tab-content p {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  font-size: 12px;
}

.zf-tab-content p > a {
  flex: 1;
  font-size: 13px;
  color: #666;
}

.zf-tab-content p .number {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  line-height: 24px;
  color: #ff941a;
  text-align: center;
  border: 1px solid #ff941a;
  border-radius: 50%;
}
.zf-tab-content .item.top .number {
  color: #fff;
  background-color: #ff941a;
}
.zf-tab-content p font {
  margin: 0 6px;
  padding-top: 3px;
}
.zf-tab-content .item.lastone {
  margin-bottom: 4px;
}

.slide {
  width: 912px;
  height: 460px;
  /* background-color: pink; */
}
.slide .carousel {
  height: 100%;
}
.slide .carousel-inner {
  height: 100%;
}
.slide .carousel-item {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.slide .zf-carousel-item1 {
  background-image: url('../images/banner1.jpg');
}
.slide .zf-carousel-item2 {
  background-image: url('../images/banner2.jpg');
}
.slide .zf-carousel-item3 {
  background-image: url('../images/banner1.jpg');
}

.zfcont {
  background-color: #f4f4f4;
}

.zfcont .container-zf {
  background-color: #f4f4f4;
  height: 100%;
}

.zfcont1 {
  padding: 10px 6px;
  height: 138px;
  background-color: #fff;
}
.zfcont1 ul {
  display: flex;
  justify-content: space-around;
}

.zfcont1 ul li a img {
  width: 228px;
  height: 118px;
  transition: all 0.5s;
}
.zfcont1 ul li a:hover img {
  transform: translateY(-5px);
}
.zfcont2 {
  background-color: #fff;
}
.zfcont2 ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 0;
  border-top: 1px solid #f5f5f5;
  border-left: 1px solid #f5f5f5;
}
.zfcont2 ul li {
  width: 20%;
  padding: 5px 0;
  text-align: center;
  border-bottom: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}

.zfcont2 ul li a {
  font-size: 14px;
  color: #666;
}
.zfcont2 ul li.oringe a {
  color: #ff941a;
}
.zfcont2 ul li:hover {
  color: #fff;
  background-color: #ff941a;
}

.zfcont2 ul li:hover a {
  color: #fff;
  text-decoration: none;
}
.zfcont3 ul {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
  background-color: #fff;
}
.zfcont3 ul li {
  flex: 1;
}
.zfcont3 ul li a {
  display: block;
  padding: 10px;
  background-color: #fff;
  border-right: 1px solid #f5f5f5;
  transition: all 0.8s;
}
.zfcont3 ul li:last-child a {
  border: none;
}
.zfcont3 ul li a:hover {
  padding-top: 5px;
}
.zfcont3 ul li a > img {
  width: 106px;
  height: 64px;
}

.zfcont4 {
  margin-top: 10px;
  height: 232px;
  background: #f4f4f4;
}

.zfcont4div {
  position: relative;
  width: 1270px;
  height: 230px;
  margin-left: -70px;
  background: url('../images/cent3bg.png') no-repeat;
}

.zfcont4 .wide {
  position: absolute;
  top: 75px;
  left: 115px;
  font-size: 12px;
  color: #fec5be;
}

.zfcont4 .wide a {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.zfcont4 ul {
  margin-left: 270px;
  padding: 15px 0px;
  clear: both;
  overflow: auto;
  zoom: 1;
}

.zfcont4 ul li {
  width: 182px;
  float: left;
  margin-left: 15px;
}
.zfcont4 ul li a {
  display: block;
  width: 182px;
  margin-top: 3px;
}
.zfcont4 ul li a:hover {
  text-decoration: none;
}
.zfcont4 ul li a img {
  display: block;
  width: 178px;
  height: 128px;
  border: 2px solid #ffffff;
  transition: all 0.6s;
}
.zfcont4 ul li a img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.zfcont4 ul li a p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 36px;
  color: #fff;
  text-align: center;
}
.zfcont4 ul li a label {
  display: block;
  width: 150px;
  height: 32px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 16px;
  transition: all 0.6s;
}
.zfcont4 ul li:hover label {
  color: #fc4936;
  background: #fff;
}
.zfcont5min {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 12px;
}
.zfcont5min > li {
  position: relative;
  width: 232px;
  height: 308px;
  overflow: hidden;
}
.zfcont5min li a.zfco5ig {
  display: block;
  width: 232px;
  height: 308px;
}
.zfcont5min li a.zfco5ig img {
  display: block;
  width: 100%;
}
.zfcont5min li .zfco5dv {
  position: absolute;
  bottom: -47px;
  left: 0px;
  display: block;
  width: 232px;
  height: 190px;
  padding: 20px;
  overflow: hidden;
  transition: all 0.6s;
}
.zfcont5min li .zfco5dv1 {
  background: url('../images/hot1.png') repeat;
}
.zfcont5min li .zfco5dv2 {
  background: url('../images/hot2.png') repeat;
}
.zfcont5min li .zfco5dv3 {
  background: url('../images/hot3.png') repeat;
}
.zfcont5min li .zfco5dv4 {
  background: url('../images/hot4.png') repeat;
}
.zfcont5min li .zfco5dv5 {
  background: url('../images/hot5.png') repeat;
}
.zfcont5min li .zfco5dv label {
  display: block;
  width: 60px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background: #fc4936;
  border-radius: 5px;
}
.zfcont5min li .zfco5dv > a {
  height: 40px;
  overflow: hidden;
  font-size: 23px;
  font-weight: bold;
  line-height: 40px;
  color: #fff;
  white-space: nowrap;
}
.zfcont5min li .zfco5dv > p {
  height: 22px;
  margin-bottom: 0;
  overflow: hidden;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  white-space: nowrap;
}
.zfcont5min li .zfco5dv > p > a {
  color: #fff;
}
.zfcont5min li .zfco5dv a.zfco5ck {
  display: block;
  width: 160px;
  height: 32px;
  margin: 10px auto;
  font-size: 16px;
  font-weight: normal;
  line-height: 32px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 16px;
}
.zfcont5min li:hover a {
  text-decoration: none;
}
.zfcont5min li:hover .zfco5dv {
  bottom: 0px !important;
}

.zfcont5miner {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  background: #fff;
}
.zfcont5miner li a {
  display: block;
  width: 125px;
  height: 82px;
  padding-top: 5px;
  transition: all 0.6s;
}
.zfcont5miner li a img {
  display: block;
  width: 125px;
  max-height: 75.5px;
}
.zfcont5miner li a:hover {
  box-shadow: 0 0 10px #999999;
}

.columnHeader {
  display: flex;
  padding-top: 17px;
}
.columnHeader > .title-font {
  line-height: 40px;
}
.columnHeader h3 {
  padding-left: 10px;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
  line-height: 40px;
  cursor: pointer;
}
.columnHeader .title {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  width: 350px;
  margin-left: 26px;
  line-height: 40px;
}
.columnHeader .title a {
  height: 40px;
  font-size: 14px;
  line-height: 40px;
}
.columnHeader i {
  flex: 1;
  height: 14px;
  margin-top: 13px;
  margin-left: 10px;
}
.locallyItem {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.locallyItem li {
  position: relative;
  width: 292px;
  height: 272px;
  padding: 10px;
  margin-bottom: 10px;
  background: #fff;
  box-shadow: 0 0 6px #eee;
  transition: all 0.7s;
}
.locallyItem li:hover {
  transform: rotateZ(3deg);
}
.locallyItem li img {
  width: 272px;
  height: 127px;
}
.locallyItem li h2 {
  margin-top: 8px;
  font-size: 15px;
  font-weight: normal;
  color: #000000;
}
.locallyItem li h2 a:hover {
  color: #555;
  text-decoration: none;
}
.locallyItem li p {
  height: 27px;
  margin-bottom: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 25px;
  color: #b6b6b6;
  border-bottom: solid 1px #f4f4f4;
}
.itemDetails {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}
.columnItemContainer {
  display: flex;
  justify-content: space-between;
}
.locallyItem .details {
  width: 116px;
  font-size: 12px;
}
.locallyItem .details span {
  display: block;
  width: 116px;
}
.locallyItem .details span:first-child {
  margin-bottom: 4px;
}
.locallyItem .zfbtn {
  padding: 2px 8px;
  font-size: 12px;
  background-color: #ff941a;
}
.locallyItem .zfbtn a {
  color: #fff;
}
.locallyItem .zfbtn:hover {
  background-color: #ff941ad8;
}
.locallyItem .zfbtn:hover a {
  text-decoration: none;
}
.columnItem ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 958px;
}
.columnItem .columnItemMin {
  position: relative;
  z-index: 9999;
  width: 232px;
  padding: 8px;
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
  background: #fff;
  box-shadow: 0 0 6px #eee;
  transition: all 1s;
}

.columnItem .columnItemMin a img {
  position: relative;
  z-index: 9999;
}
.columnItem .columnItemMin a p {
  position: relative;
  z-index: 9999;
  margin: 10px 0px 2px;
  font-size: 15px;
  line-height: 27px;
  color: #666;
  text-align: center;
  transition: all 1s;
}
.columnItem .columnItemMin a label {
  position: relative;
  z-index: 9999;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
  font-size: 13px;
}
.columnItem .columnItemMin a label font {
  font-weight: 600;
  transition: all 0.8s;
}
.columnItem .columnItemMin a label span {
  color: #777;
  transition: all 0.8s;
}
.columnItemList {
  width: 232px;
}
.columnItemList a {
  position: relative;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 7px;
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 0 6px #eee;
  transition: all 1s;
}
.columnItemList a label {
  padding: 6px;
  margin-bottom: 0;
  flex: 1;
}
.columnItemList a label h4 {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 600;
  color: #666;
  cursor: pointer;
  letter-spacing: 2px;
}
.columnItemList a label p {
  margin-bottom: 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
  letter-spacing: 2px;
}
.columnItemList a em {
  width: 70px;
  font-style: normal;
  font-weight: 600;
}
.columnItemList a h4,
.columnItemList a p,
.columnItemList a em {
  position: relative;
  z-index: 9999;
  transition: all 0.5s;
}
.columnItemList a:hover {
  text-decoration: none;
}

.columnItemList a:hover h4,
.columnItemList a:hover p,
.columnItemList a:hover em {
  color: #fff;
}
/* 悬停动画 */
.columnItem .columnItemMin:hover a p {
  color: #fff;
}
.columnItem .columnItemMin:hover a label font {
  color: #fff;
}
.columnItem .columnItemMin:hover a label span {
  color: #fff;
}
.columnItem .columnItemMin:hover a {
  position: relative;
  z-index: 9999;
  text-decoration: none;
}
.columnItemMin:before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 200%;
  height: 150%;
  opacity: 0;
  left: -50%;
  bottom: 0;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate(-90deg) translateZ(0);
  transform: rotate(-90deg) translateZ(0);
  -webkit-transition: opacity 2s cubic-bezier(0.01, -0.24, 0, 0.68),
    -webkit-transform 2s cubic-bezier(0.01, -0.24, 0, 0.68);
  transition: opacity 2s cubic-bezier(0.01, -0.24, 0, 0.68),
    -webkit-transform 2s cubic-bezier(0.01, -0.24, 0, 0.68);
  transition: transform 2s cubic-bezier(0.01, -0.24, 0, 0.68),
    opacity 2s cubic-bezier(0.01, -0.24, 0, 0.68);
  transition: transform 2s cubic-bezier(0.01, -0.24, 0, 0.68),
    opacity 2s cubic-bezier(0.01, -0.24, 0, 0.68),
    -webkit-transform 2s cubic-bezier(0.01, -0.24, 0, 0.68);
}
.columnItemMin:hover:before,
.columnItemMin:focus:before {
  -webkit-transform: rotate(0deg) translateZ(0);
  transform: rotate(0deg) translateZ(0);
  opacity: 1;
  -webkit-transition-duration: 0.6s, 0.6s;
  transition-duration: 0.6s, 0.6s;
}
.columnItemList a:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  padding: 18%;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(0);
  transform: translate3d(-50%, -50%, 0) scale(0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(1, 0.15, 0.34, 1.03);
  transition: -webkit-transform 0.5s cubic-bezier(1, 0.15, 0.34, 1.03);
  transition: transform 0.5s cubic-bezier(1, 0.15, 0.34, 1.03);
  transition: transform 0.5s cubic-bezier(1, 0.15, 0.34, 1.03),
    -webkit-transform 0.5s cubic-bezier(1, 0.15, 0.34, 1.03);
}
.columnItemList a:hover:before,
.columnItemList a:focus:before {
  -webkit-transform: translate3d(-50%, -50%, 0) scale(3);
  transform: translate3d(-50%, -50%, 0) scale(3);
}

/* 独立样式 */
.columnItemList a.starHover {
  border-right: 3px solid #ff941a;
}
.columnItemList a.starHover em {
  color: #ff941a;
}
.columnItemList a.starHover:hover em {
  color: #fff;
}
.columnItemMin.starHover:before,
.columnItemList a.starHover:before {
  background: -moz-linear-gradient(to right, #ff4c2e, #ff9813);
  background: -webkit-linear-gradient(to right, #ff4c2e, #ff9813);
  background: -ms-linear-gradient(to right, #ff4c2e, #ff9813);
  background: -o-linear-gradient(to right, #ff4c2e, #ff9813);
  background: linear-gradient(to right, #ff4c2e, #ff9813);
}

.columnItemList a.creHover {
  border-right: 3px solid #01c700;
}
.columnItemList a.creHover em {
  color: #01c700;
}
.columnItemList a.creHover:hover em {
  color: #fff;
}
.columnItemMin.creHover:before,
.columnItemList a.creHover:before {
  background: -moz-linear-gradient(to right, #89e412, #01c700);
  background: -webkit-linear-gradient(to right, #89e412, #01c700);
  background: -ms-linear-gradient(to right, #89e412, #01c700);
  background: -o-linear-gradient(to right, #89e412, #01c700);
  background: linear-gradient(to right, #89e412, #01c700);
}

.columnItemList a.locallyHover {
  border-right: 3px solid #ffba00;
}
.columnItemList a.locallyHover em {
  color: #ffba00;
}
.columnItemList a.locallyHover:hover em {
  color: #fff;
}
.columnItemMin.locallyHover:before,
.columnItemList a.locallyHover:before {
  background: -moz-linear-gradient(to right, #ffc711, #ffba00);
  background: -webkit-linear-gradient(to right, #ffc711, #ffba00);
  background: -ms-linear-gradient(to right, #ffc711, #ffba00);
  background: -o-linear-gradient(to right, #ffc711, #ffba00);
  background: linear-gradient(to right, #ffc711, #ffba00);
}

/* 资讯中心 */

.newsContainer {
  display: flex;
}
.columnNews .hotNews {
  width: 330px;
  height: 468px;
  background-color: #fff;
  box-shadow: 0 0 6px #eee;
}
.columnNews .hotNews .slide {
  width: 330px;
  height: 246px;
}
.columnNews .hotNews .carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0px;
  left: 0;
  z-index: 10;
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  text-align: center;
  background: -moz-linear-gradient(#1084ff00, #1082ff);
  background: -webkit-linear-gradient(#1084ff00, #1082ff);
  background: -ms-linear-gradient(#1084ff00, #1082ff);
  background: -o-linear-gradient(#1084ff00, #1082ff);
  background: linear-gradient(#1084ff00, #1082ff);
}
.columnNews .hotNews .carousel-caption h5 {
  padding: 22px 14px 16px;
  margin-bottom: 0;
  font-size: 16px;
  letter-spacing: 1px;
}
.columnNews .hotNews .carousel-caption:hover h5 {
  color: rgba(255, 255, 255, 0.8);
}
.hotInfo {
  padding: 0 8px;
}
.hotTitle {
  border-bottom: 1px solid #dcdcdc;
}

.newsContainer h4 {
  display: flex;
  margin-top: 14px;
  margin-bottom: 0px;
  padding: 8px 0 8px 0;
  font-size: 16px;
  color: #666;
}
.newsContainer h4 em {
  height: 16px;
  padding: 0px 5px;
  margin: 2px 10px 0 0;
  font-size: 12px;
  font-style: normal;
  color: #1082ff;
  line-height: 14px;
  border: 1px solid #1082ff;
}
.newsContainer h4 span {
  flex: 1;
  font-weight: 700;
}
.hotInfo ul li a:hover {
  color: rgba(16, 130, 255);
}
.hotTitle a:hover span {
  color: rgba(85, 85, 85, 0.8);
}
.newsContainer p {
  font-size: 13px;
  line-height: 20px;
  color: #999;
  text-align: justify;
  letter-spacing: 0.25px;
}
.newsContainer p a {
  display: inline-block;
  margin-left: 11px;
}
.newsContainer ul {
  padding: 16px 0;
}
.newsContainer ul li,
.newsContainer ul li a {
  color: #666;
}
.newsContainer ul li {
  margin-bottom: 10px;
}
.newsContainer ul li a {
  display: flex;
  align-items: baseline;
}
.columnNews .newsContent {
  width: 520px;
  margin: 0 10px;
}

.newsContentMin {
  height: 229px;
  background-color: #fff;
}
.newsContent .nav-tabs {
  display: flex;
  border-bottom: none;
}
.newsContent .nav-tabs .nav-item {
  flex: 1;
}
.newsContent .nav-link {
  display: block;
  color: #666;
  font-weight: 700;
  text-align: center;
  border-color: #dfdfdf #fff #fff #fff;
  border-width: 3px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transition: all 0.5s;
}
.newsContent .nav-link.active {
  color: #1082ff;
  border-color: #1082ff #fff #fff #fff;
}
.newsContent .nav-link.active:hover {
  color: #1082ff;
  background-color: #fff;
}
.newsContent ul {
  padding-top: 0;
}
.newsContent ul.nav-tabs {
  padding-bottom: 0;
}
.newsContent .tab-content {
  padding: 0 8px;
}
.newsContent .tab-content a h4 {
  padding: 14px 0 20px;
  margin-top: 0px;
}
.newsContent .tab-content a h4 span {
  font-size: 18px;
  font-weight: 600;
  color: #555;
  transition: all 0.1s;
}
.newsContent .tab-content a:hover h4 span {
  color: rgba(85, 85, 85, 0.8);
}
.newsContent .tab-content ul {
  padding-bottom: 0;
}

.newsContent .tab-content ul li a:hover span {
  color: rgba(16, 130, 255);
}
.columnNews .qora {
  width: 330px;
  height: 468px;
  padding: 10px 15px;
  background-color: #fff;
  border-top: 3px solid rgba(16, 130, 255);
  box-shadow: 0 0 6px #eee;
}
.qora .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.qora .title h4 {
  margin-top: 0;
  font-size: 18px;
  font-weight: 700;
  color: #444;
}
.qora .title em {
  font-size: 14px;
  font-style: normal;
  color: #777;
}
.qora a:hover h4 span {
  color: rgba(85, 85, 85, 0.8);
}
.qora .title em a {
  color: #888;
}
.qora .title em a:hover {
  color: rgb(167, 167, 167);
}
.qora p {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
  margin-bottom: 0;
  border-bottom: 1px solid #dcdcdc;
}
.qora p span {
  display: block;
  width: 230px;
  height: 20px;
  overflow: hidden;
}
.qora a h4 {
  margin-top: 0;
}
.qora ul li {
  margin-bottom: 15px;
}
.qora ul li a:hover span {
  color: rgba(16, 130, 255);
}
